*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #000000;
}

nav img{
  width: 170px;
  cursor: pointer;
 
}

nav {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: start;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color:#86caf1;
}

nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #fd00da;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}

nav ul li:hover::after {
    width: 100%;
}



.field-singUp {
    position: absolute;
    right: 80px;
    top: 60px;
    text-decoration: none;
    cursor: pointer;
    border: transparent solid 2px;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
    transition: transform 0.5s;
}
.field-singUp:hover {
    transform: translateY(-3px);
}

.field-singUp span {
    display: block;
    padding: 8px 22px;
}

.field-singUp a {
    text-decoration: none;
    color: #fff;
    
}

.field-singUp a:hover {
    color: #86caf1;
}

.content-field {
    width: 80%;
    height: 70%;
    top:25%;
    left: 130px;
    position: absolute;
    color:#fff;
}

.content-text {
    width: 50%;
    float: left;
}

.content-text h1 {
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
}

.content-text p {
    width: 650px;
    font-size: 15px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #fff;
}

.content-banner {
    width: 50%;
    float: right;
}

.content-banner img {
    width: 100%;
    height: 400px;
    margin-top: -20px;
    padding-left: 100px;
}
