*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    font-size: 62.33%;
}

body, html {
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 980px;
    height: 100vh;
    margin: 0 auto;
}
